/*********************************************************************
*
*  layout/users/_profile.scss
*  User profile styles
*
*********************************************************************/
.student-profile {
  .profile-photo {
    height: 200px;
    width: 190px;

    img {
      height: 200px;
      width: 190px;
    }
  }
}
