/*********************************************************************
*
*  layout/users/_profile.scss
*  User profile styles
*
*********************************************************************/
.student-profile {
  .profile-photo {
  	text-align:center;

    img {
      height: 200px;
      width: 190px;
    }
  }
}
