/*********************************************************************
*
*  core/buttons
*  Project custom buttons file
*
*********************************************************************/
.btn-orange {
  color: #fff;
  border: 0px;
  background: #de8738;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: #fff;
    background-color: #eb9d56;
    border-color:#285e8e;
  }
}


.btn-success{
  background: #648a43; /* Old browsers */
  background: -moz-linear-gradient(top,  #648a43 0%, #72d378 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#648a43), color-stop(100%,#72d378)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #648a43 0%,#72d378 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #648a43 0%,#72d378 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #648a43 0%,#72d378 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #648a43 0%,#72d378 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#648a43', endColorstr='#72d378',GradientType=0 ); /* IE6-9 */
}