/*********************************************************************
*
*  layout/checkout/panel
*  Checkou main panel styles
*
*********************************************************************/
.checkout {
  background: #fff;
  padding: 20px 0;

  hr {
    border: 1px solid #eee;
  }

  .panel {
    border-radius: 0;
  }
}
