/*********************************************************************
*
*  layout/header
*  school header styles
*
*********************************************************************/

.school-header {
  .navbar-brand {
    // @include colorful-link(white);
    @media (max-width: $screen-small) {
        padding: 5px 0 10px 10px;
    }

    h2 {
      margin-top: 8px;
    }

    img {
      height: 60px;
      @media (max-width: $screen-small) {
          height: 45px;
      }
    }
  }

  .navbar {
    margin-bottom: 0;
    // background: $dark-gray;

    .navbar-nav {
      position: relative;
      @media (min-width: $screen-tablet) {
        padding: 15px 0;
      }
    }

    li a {
      // @include colorful-link(white);
    }
  }

  .dropdown-menu li a {
    color: #000 !important;
  }
}
