/*********************************************************************
*
*  sections/home
*  Example section file
*  e.g. For when there's a different section on home
*
*********************************************************************/
// home header
.home.main-header {
  .image {
    max-height: 270px;

    @media (max-width: $screen-small) {
      margin-bottom: 20px;
    }

    img {
      // make images bigger on desktop and tablet
      @media (min-width: $screen-tablet) {
        height: 270px;
        max-height: 270px;

        box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
      }
    }
  }

  .info {
    padding: 0 30px;

    // text align to center only on tablets and smartphones
    @media (max-width: $screen-tablet) {
      text-align: center;
    }

    .title {
      @media (max-width: $screen-small) {
        font-size: 40px;
        line-height: 1.5em;
      }

      font-size: 50px;
      line-height: 55px;
      font-weight: bold;

      margin-top: 0;
    }

    .subtitle {
      @media (max-width: $screen-small) {
        font-size: 24px;
        line-height: 32px;
      }

      font-weight: 300;
      font-size: 32px;
      line-height: 40px;

      margin-top: 15px;
    }
  }
}

// home courses list
.home.course-list {
  background: lighten($light-gray, 2%);

  $course-height: 300px;
  .course {
    height: $course-height;
    background: white;
    margin-bottom: 20px;
    @include card();

    a:hover {
      color: $text-color;
    }
  }

  .image img {
    width: 100%;
    max-width: 100%;
    max-height: $course-height/2;
  }

  .body {
    padding: 10px;
    min-height: $course-height/3;
    @include colorful-link($text-color);
    text-overflow: hidden;

    .subtitle {
      font-size: 1em;
      font-style: italic;
      color: #ccc;
      line-height: 1em;
      word-wrap: break-word;
    }
  }

  .footer {
    padding: 10px 5px 5px 5px;
    border-top: 1px solid lighten(#ccc, 15%);
    min-height: $course-height/6;

    $footer-elem-height: 34px;
    .well {
      position: relative;
      height: $footer-elem-height;
      padding: 7px 8px 5px 8px;
      margin: 0;

      bottom: 0;
      float: left;
    }

    .btn {
      position: relative;
      height: $footer-elem-height;
      bottom: 0;
      float: right;
    }
  }
}

//home about panel
.home.about {
  // increases the line heith a bit on small devices, to improve the readability
  @media (max-height: $screen-tablet) {
    h4 {
      line-height: 1.5em;
    }
  }
}
