/*********************************************************************
*
*  layout/main
*  Main content styles
*
*********************************************************************/
.main-header {
  display: block;
  margin: 0;
  padding: 30px;
  background: $light-gray;
  overflow: auto;

  @media(max-width: $screen-small) {
    min-height: 400px;
  }

  @media(min-width: $screen-tablet) {
    min-height: 250px;
  }

  .image {
    position: relative;
    max-height: 200px;

    img {
      height: 100%;
      max-width: 100%;
      max-height: 100%;
    }
  }

  .info {
    color: $dark-gray;
    font-family: 'Open Sans', sans-serif;

    .title {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 400;
      word-wrap: break-word;
    }

    .subtitle {
      font-size: 18px;
      font-weight: 100;
      word-wrap: break-word;
    }
  }
}

.app-content {
  min-height: 400px;
}
