/*********************************************************************
*
*  base/helpers
*  Placeholders that makes our life much easier
*
*********************************************************************/

/*********************************************************************
*  =Clearfix
*********************************************************************/
%clearfix {
  &:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }

  zoom: 1;
}

/*********************************************************************
*  =Image replacement
*********************************************************************/
%image_replacement {
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap;
}

/*********************************************************************
*  =Centered content
*********************************************************************/
%centered_content {
  width: width_from_columns(12);
  margin-left: auto;
  margin-right: auto;
}

/*********************************************************************
*  =No underline
*********************************************************************/
%no_underline {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

/*********************************************************************
*  =Ellipsis
*********************************************************************/
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
