/*********************************************************************
*
*  base/variables
*  Project global variables
*
*********************************************************************/
// Paths
$fonts-path:  "../assets/fonts";
$images-path: "../assets/images";

// Font-Awesome fonts path
$fa-font-path: "#{$fonts-path}/font-awesome";

$bg-color: #f3f5f7 !default;
$text-color : #555 !default;
$link-color : #4083a9 !default;
$placeholder-color: #a7a9ac !default;

/* Uncomment this if you like selection background */
// $SELECTION_BACKGROUND_COLOR: #41bdce !default;
// $SELECTION_TEXT_COLOR: #fff !default;

/* Other colors you want, down here */
$orange: #de8738;
$light-gray: #f2f2f2;
$dark-gray: #373737;

$primary-color: #1d89cf;
$info-color: #5bc0de;
$success-color: #5ebd5e;
$warning-color: #f4b04f;
$danger-color: #e66454;

$content-wrapper-padding: 18px;

//** Border color for table and cell borders.
$table-border-color: darken(#eee, 4%);
// Panel content padding
$panel-content-padding: 20px;
$panel-heading-bg: #fafafa;
$panels-border-color: $table-border-color;
$grid-gutter-width: 20px;

// Panels
$tabs-border-color: $table-border-color;
$pagination-border-color: $table-border-color;
$list-groups-border-color: $table-border-color;
$accordion-border-color: $table-border-color;
$panels-border-color: $table-border-color;

// Wizard
$wizard-step-number-size: 26px;
$wizard-step-number-border-width: 2px;
$wizard-step-number-margin: 10px;

// nav tabs
$nav-tabs-active-link-hover-bg: #1d89cf;
$nav-tabs-active-link-hover-color: #1a7ab9;
$nav-tabs-active-link-hover-border-color: #1a7ab9;

/* Screen sizes */
$screen-desktop: 992px;
$screen-tablet:  768px;
$screen-small:   480px;


// Modal sizes
//
$modal-lg: 900px;
$modal-md: 600px;
$modal-sm: 300px;
