<div class="dashboard">
  <div class="container dashboard-panel">
    <spinner name="course"></spinner>
    <div hide-on-load="course" class="row course-container">
      <div class="course-infos col-md-4">
        <div class="course-page panel text-center">
          <br/>
          <a link-to="school.dashboard.course.detail" ng-if="course.image_url">
            <img class="course-page-image" ng-src="{{ course.image_url }}" alt="{{ course.name }}">
          </a>
          <h4>
            <a link-to="school.dashboard.course.detail">
              <strong>{{ course.name }}</strong>
            </a>
          </h4>
        </div>

        <div class="course-content panel">
          <div class="panel-heading">
            <strong class="panel-title">Conteúdo do curso</strong>
          </div>

          <div class="panel-body">
            <content-tree type="dashboard" enrollment="enrollment" ng-model="course" lessons-info="lessons_info" lazy="true"></content-tree>
          </div>
        </div>



        <div class="course-progress panel">
          <div class="panel-heading">
            <span class="panel-title">
              <i class="panel-title-icon fa fa-check"></i>Progresso
            </span>
          </div>

          <div class="panel-body">
            <header class="progress-header">
              <span class="label label-success">{{lessons_info.completed.length}}</span> aula(s) completa(s)
              <span class="label label-warning">{{lessons_info.in_progress.length}}</span> aula(s) iniciada(s)
              <span class="label label-info">{{lessons_info.total}}</span> aula(s) no total
            </header>
            <stacked-progress success="{{ lessons_info.completed.length }}" warning="{{ lessons_info.in_progress.length }}" total="{{ lessons_info.total }}"></stacked-progress>
          </div>
        </div>
      </div>

      <div class="card panel col-md-8 course-content-player">
        <div ui-view></div>
        <spinner name="content" class="small"></spinner>
      </div>
    </div>
  </div>
</div>

