<div class="module">
  <div class="module-info">
    <div class="title">
      <a href ng-click="getCourseContents(module)">{{ module.name }}</a>
    </div>
    <spinner name="module{{ module.id }}.content" class="small"></spinner>
  </div>
</div>
<ol ui-tree-nodes ng-model="module.modules">
  <li class="module-item sub" ng-repeat="module in module.course_modules" ng-include="subTemplateUrl" ui-tree-node></li>
</ol>
<ol ui-tree-nodes ng-model="module.modules">
  <li class="module-item sub" ng-repeat="class in module.classes" ui-tree-node>
    <div class="class">
      <div class="class-info" ng-class="{'active': $state.params.contentId == class.id.toString()}">
        <progress-icon ng-model="class"></progress-icon>
        <class-icon ng-model="class"></class-icon>
     <a  class="title" link-to="school.dashboard.course.content.media({ contentId: class.id })">{{ class.lesson.title }}</a>
        <span ng-if="class.lesson.progress.views === enrollment.max_attendance_length && enrollment.max_attendance_type === 'attempts' && class.lesson.progress" >
              
            <span tooltip-placement="right" tooltip="Você não possui mais visualizações nesta aula">
              <i style="color:#B21816; float: right; font-size:10px;margin-top: 6px;" class="fa fa-eye attempt-red">{{ class.lesson.progress.views }}/{{ enrollment.max_attendance_length }}</i>
            </span>
        </span>

 {{class.lesson.progress}} 
        <span ng-if="class.lesson.progress.views < enrollment.max_attendance_length && enrollment.max_attendance_type === 'attempts' && class.lesson.progress" >
          <span tooltip-placement="right" tooltip="Você não possui mais visualizações nesta aula">
            <i style="color:#B21816; float: right; font-size:10px;margin-top: 6px;" class="fa fa-eye attempt-red">{{ class.lesson.progress.views }}/{{ enrollment.max_attendance_length }}</i>
          </span>
        </span>

      </div>
    </div>
  </li>
</ol>



