<div class="dashboard">
  <div class="container dashboard-panel">
    <ul class="nav nav-tabs nav-tabs-lg">
      <li>
        <a link-to="school.dashboard.enrollments">
          <i class="fa fa-video-camera"></i>
          <div>Cursos</div>
        </a>
      </li>
      <li class="active">
        <a link-to="school.dashboard.contact">
          <i class="fa fa-comment"></i>
          <div>Contato</div>
        </a>
      </li>
    </ul>
    <div class="panel tab-content tab-content-bordered">
      <div ng-show="!$loader.isLoading"></div>
      <spinner ng-show="$loader.isLoading" class="small"></spinner>
    </div>
  </div>
</div>
