<div class="dashboard">
  <div class="container dashboard-panel">
    <spinner name="course"></spinner>
    <div hide-on-load="course" class="row course-container">
      <div class="course-infos col-md-7">
        <div class="course-page panel text-center">
          <br/>
          <a link-to=".">
            <img class="course-page-image" ng-if="!course.image_url" ng-src="assets/images/missing-course-logo.png" alt="{{ course.name }}">
            <img class="course-page-image" ng-if="course.image_url" ng-src="{{ course.image_url }}" alt="{{ course.name }}">
          </a>
          <h4>
            <a link-to=".">
              <strong>{{ course.name }}</strong>
            </a>
          </h4>
        </div>

        <div class="course-content panel">
          <div class="panel-heading">
            <strong class="panel-title">Conteúdo do curso</strong>


<!-- 
            <div class="viads" ng-if="{{enrollment.progress === 0}}">
            <p>* As visualizações são contabilizadas a cada 24h</p>
            </div> -->


            <span style="font-size: 11px ;float: right;">Disponível até:  {{enrollment.available_until | toSaoPauloTimeZone}}</span>
            <br/>

          </div>
          <div class="panel-body">
            <content-tree type="dashboard" ng-model="course" enrollment="enrollment" lessons-info="lessons_info" lazy="true"></content-tree>
          </div>
        </div>
      </div>

      <div class="col-md-5">
        <div class="course-progress panel" ng-if="">
          <div class="panel-heading">
            <span class="panel-title">
              <i class="panel-title-icon fa fa-check"></i>Progresso
            </span>
          </div>

          <div class="panel-body">
            <header class="progress-header">
              <span class="label label-success">{{ lessons_info.completed.length }}</span> aula(s) completa(s)
              <span class="label label-warning">{{ lessons_info.in_progress.length }}</span> aula(s) iniciada(s)
              <span class="label label-info">{{ lessons_info.total }}</span> aula(s) no total
            </header>
            <stacked-progress success="{{ lessons_info.completed.length }}" warning="{{ lessons_info.in_progress.length }}" total="{{ lessons_info.total }}"></stacked-progress>
          </div>
        </div>

        <div class="panel" ng-if="extraContents.length > 0">
          <div class="panel-heading">
            <strong class="panel-title">Material complementar</strong>
          </div>
          <div class="panel-body">
            <spinner name="extraContents" class="small"></spinner>
            <ul class="modules">
              <li class="module-item root" ng-repeat="extraContent in extraContents">
                <div class="class">
                  <div class="class-info" ng-class="{'active': $state.params.extraContentId == extraContent.id.toString()}">
                    <media-icon type="extraContent.media.type"></media-icon>
                    <span ng-class="{'label-info': $state.params.extraContentId == extraContent.id.toString()}">
                      <a class="title" link-to="school.dashboard.course.extraContent.media({ extraContentId: extraContent.id })">{{ extraContent.title }}</a>
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="panel bulletinboard-panel">
          <div class="panel-heading">
            <strong class="panel-title">Quadro de avisos</strong>
          </div>
          <div class="panel-body">
            <spinner name="board" class="small"></spinner>
            <spinner name="enrollment" class="small"></spinner>
            <div class="note note-info" ng-hide="bulletins == null || bulletins.length > 0" hide-on-load="board">
              <p>Ainda não há nenhum aviso aqui.</p>
            </div>
            <div class="bulletin" ng-repeat="bulletin in bulletins">
              <a ui-sref="school.dashboard.bulletin({ bulletinId: bulletin.id, courseId: course.id, courseClassId: courseClass.id, enrollmentId: enrollment.id })">{{ bulletin.subject }}</a>
            </div>
            <div class="center" ng-if="bulletins.length > 0" ed-pagination="bulletins.pagingInfo" refresh="getBoard(enrollment, course, page)">
              <ul class="pagination pagination-sm">
                <li ed-pagination-previous>
                  <a href=""><i class="fa fa-caret-left"></i></a>
                </li>
                <li ed-pagination-page="page" ng-repeat="page in paginationCtrl.pages">
                  <a href="">{{ page }}</a>
                </li>
                <li ed-pagination-next>
                  <a href=""><i class="fa fa-caret-right"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
