/*********************************************************************
*
*  layout/dashboard/content
*  Content consumption view styles
*
*********************************************************************/
$min-player-height: 450px;
$player-padding: 30px;
.course-content-player {
  padding: $player-padding;
  min-height: $min-player-height;
}

#box-viewer {
  height: 100%;
  min-height: 380px;
}
