/*********************************************************************
*
*  layout/dashboard/content
*  Content consumption view styles
*
*********************************************************************/
$min-player-height: 450px;
$player-padding: 30px;
.course-content-player {
  padding: $player-padding;
  min-height: $min-player-height;
}

.class-info {
  .attempt {
    float: right;
    font-size:10px;
    margin-top: 6px;
  }

  .attempt-red {
    color:#B21816;
  }
}

#box-viewer {
  height: 100%;
  min-height: 380px;
}

.next-prev-container {
  text-align: center;
  margin: 20px auto 0 auto;

  .btn {
    width: 150px;
  }
}
