/*********************************************************************
*
*  layout/dashboard/courses
*  dashboard courses list style
*
*********************************************************************/
.dashboard-panel {
  $course-border-radius: 4px;
  $course-transition-time: 0.2s;
  .course {
    margin-bottom: 40px;
    @include card();



// $screen-desktop: 992px;
// $screen-tablet:  768px;
// $screen-small:   480px;


    .course-image {

      height: 236px;

      @media(max-width: $screen-small) {
        height: 200px;
      }      

      @media(min-width: $screen-small) {
        height: 236px;
      }      



      margin-bottom: 2px;


      img {
  // display: block;
  // max-width: 100%;
  // height: auto;

  display: block;
  max-height: 100%;
  width: auto;  
      position: absolute;
      }
    }

    .course-label {
      text-align: center;
      padding: 5px 15px;
    }

    /* Hover only on tablet and over */
    @media(min-width: $screen-tablet) {
      &:hover {
        .course-edit-overlay {
          opacity: 1;
        }
      }
    }
  }

  .course-image {
    position: relative;

    // img {
   
    //   width: 100%;
    //   height: 100%;
    //   border: 0;
    // }

    .course-edit-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      transition: opacity $course-transition-time ease-in 0;

      @media (max-width: $screen-small) {
        -webkit-box-shadow: inset 0px 0px 100px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: inset 0px 0px 100px 0px rgba(50, 50, 50, 0.75);
        box-shadow: inset 0px 0px 100px 0px rgba(50, 50, 50, 0.75);
      }
      @media (min-width: $screen-tablet) {
        -webkit-box-shadow: inset 0px 0px 200px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow: inset 0px 0px 200px 0px rgba(50, 50, 50, 0.75);
        box-shadow: inset 0px 0px 200px 0px rgba(50, 50, 50, 0.75);
      }
    }
  }

  .course-edit-overlay {
    .btn-edit {
      width: 50%;
      margin: auto;
      position: absolute;
      top: 50%; left: 50%;
      -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
      transform: translate(-50%,-50%);
    }

    .switcher {
      position: absolute;
      bottom: 5px;
      right: 3px;
      width: 50px;
    }
  }

  .course-status {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 115px;
  }
}
