/*********************************************************************
*
*  layout/dashboard/course
*  Course detail styles
*
*********************************************************************/
.course-page {
  .course-info {
    padding: 30px;
    border-radius: 5px;
  }

  .course-page-image {
    max-width: 300px;
    max-height: 200px;
  }
}

.modules {
  padding: 0;

  .module-item {
    list-style: none;
  }

  .module-info spinner {
    position: relative;
    float: right;
    margin: 10px 15px 0 0;
  }
}

.dashboard-panel {
  .class-info {
    margin-top: 5px;
    margin-bottom: 5px;
    .title {
      text-decoration: none;
      color: #555;
    }

    .lesson-icon {
      opacity: 0.3;
      margin-right: 3px;
    }

    .type {
      margin-right: 3px;
    }

    &.active {
      .title {
        font-weight: bold;
      }

      .lesson-icon {
        opacity: 1;
      }
    }

    &:hover {
      .lesson-icon {
        opacity: 1;
      }
    }
  }

  .bulletinboard-panel .pagination {
    margin-bottom: 0;
  }
}


// .red-attempt{
//   color: red;
//   font-weight: bold;
//   font-size:10px;
//   font-family: "COURIER", 'Verdana', arial;
// }

// .attempt{
//   color: #000;
//   font-size: 10px;
//   font-family: "COURIER", 'Verdana', arial;
// }

// i .fa .fa-eye .attempt-red{
// color:#B21816; 
// float: right; 
// font-size:10px;
// margin-top: 6px;
// }

// i .fa .fa-eye .attempt-black{
// color:black;
// float: right; 
// font-size:10px;
// margin-top: 6px;
// }