/*********************************************************************
*
*  layout/dasboard/orders
*  Orders screen styles
*
*********************************************************************/
.order-items {
  .card {
    padding: 3px;
  }
}

.order-item-image {
  width: 200px;
  height: 150px;
}
