/*********************************************************************
*
*  layout/dashboard/progress
*  Course progress panel styles
*
*********************************************************************/

.progress-header {
	padding: 5px 0;
	font-size: 11px;
	margin: 0px 0px 20px;
}
