/*********************************************************************
*
*  layout/checkout/wizard/connect
*  Login and register on checkout form styles
*
*********************************************************************/
.checkout {
  @mixin small-form () {
    .input-lg {
      font-size: 14px;
    }

    .panel {
      width: 100%;
      margin: 0;
    }
  }

  .page-signup-alt {
    background: #fff;
    @include small-form();
  }

  .page-signin-alt {
    background: #fff;
    @include small-form();
  }
}
