<div class="forum-panel">
  <spinner name="forum"></spinner>
  <div class="container">
    <h2 hide-on-load="forum">Fóruns</h2>

    <div hide-on-load="forum" class="panel">
      <div class="panel-body">
        <div class="input-group input-group-lg">
          <span class="input-group-addon no-background"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Buscar por nome..." search ng-model="filterInput.title">
          <span class="input-group-btn">
            <button class="btn" type="button">Buscar</button>
          </span>
        </div>
      </div>
    </div>

    <div hide-on-load="forum" collapse="collapsed" class="forum-sections list-group widget-threads">
      <div hide-on-load="forum" ng-if="forums === undefined || forums.length === 0" class="alert alert-info text-center">Ainda não há fóruns aqui.</div>

      <article ng-repeat="forum in forums | filter:filterInput | orderBy:'created_at':true | filterByForumCategory:selectedCategory" class="section list-group-item">
        <div class="section-content clearfix">
          <h4 class="list-group-item-heading">
            <a link-to="school.forums.forum.detail({ forumId: forum.id })">{{ forum.title }}</a>
          </h4>

          <p class="list-group-item-text" clamp="3">{{ forum.description }}</p>
        </div>

        <div class="section-meta pull-right">
          <strong>{{ forum.child_forum_sections_count || 0 }} seções</strong>
        </div>
      </article>
    </div>
  </div>
</div>
