<div class="forum-panel">
  <spinner name="forum"></spinner>
  <div class="container">
    <h2 hide-on-load="forum">Fóruns</h2>

    <div hide-on-load="forum" class="panel">
      <div class="panel-body">
        <div class="input-group input-group-lg">
          <span class="input-group-addon no-background"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Buscar por nome..." search ng-model="filterInput.title">
          <span class="input-group-btn">
            <button class="btn" type="button">Buscar</button>
          </span>
        </div>
      </div>
    </div>

    <div hide-on-load="forum" collapse="collapsed" class="forum-sections list-group widget-threads">
      <div hide-on-load="forum" ng-if="forum.forum_sections === undefined || forum.forum_sections.length === 0" class="alert alert-info text-center">Ainda não há fóruns aqui.</div>

      <article ng-repeat="section in forum.forum_sections | filter:filterInput | orderBy:'created_at':true" class="section list-group-item">
        <spinner name="section{{ section.id }}" class="medium"></spinner>
        <div class="section-content clearfix">
          <h4 class="list-group-item-heading">
            <a ng-if="!section.editable" ui-sref="school.forums.topics({ sectionId: section.id })">{{ section.title }}</a>
            <span ng-if="section.editable" editable-text="section.title" required>{{ section.title }}</span>
          </h4>

          <p ng-if="!section.editable" class="list-group-item-text" clamp="3">{{ section.description }}</p>
          <p ng-if="section.editable" e-style="width: 100%;" editable-textarea="section.description" required>{{ section.description }}</p>
        </div>

        <div ng-if="!section.editable" class="section-meta pull-right">
          <strong>{{ section.child_forum_sections_count || 0 }} seções</strong>
        </div>

        <!-- MOST POPULAR -->
        <!-- <hr ng-if="section.forum_questions !== undefined && section.forum_questions.length > 0"/>
        <div ng-if="section.forum_questions !== undefined && section.forum_questions.length > 0" class="popular-thread">
          <i>Pergunta mais popular:</i>
          <div class="thread">
            <img class="thread-avatar" src="https://cdn.edools.com/assets/images/users/default.jpeg" alt="Usuário">
            <div class="thread-body">
              <span class="thread-time">2d</span>
              <a href="" class="thread-title">Quem aqui joga WoW?</a>
              <div class="thread-info votes">
                <a href="">42 respostas</a>,
                feita por <a href="">Usuário</a>
                <a class="vote up active">
                  <span>899 <i class="fa fa-thumbs-up"></i></span>
                </a>
                <a class="vote down">
                  <span>2 <i class="fa fa-thumbs-down"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- MOST POPULAR -->
      </article>
    </div>
  </div>
</div>
