<div class="forum-panel">
  <div class="question-page container">
    <form name="questionForm">
      <div class="panel-body">
        <article class="question row">
          <div class="question-user col-xs-12 col-sm-1">
            <img class="avatar" ng-src="{{ $session.get().cover_image_url }}" alt="{{ $session.get().first_name }}">
            <span class="name">{{ $session.get().first_name }}</span>
          </div>
          <div class="content col-xs-12 col-sm-11">
            <input type="text" class="title form-control" ng-model="question.title" name="title" placeholder="Título da sua pergunta" required>
            <div class="description">
              <ck-editor ng-model="question.description"></ck-editor>
            </div>
          </div>
        </article>
      </div>
      <div class="panel-footer">
        <div class="text-left">
          <a link-to="school.forums.section({ sectionId: $state.params.sectionId })" class="btn btn-danger">Voltar</a>
          <a ask-question-button="question" ng-disabled="questionForm.$invalid" class="btn btn-success pull-right">Perguntar</a>
        </div>
      </div>
    </form>
  </div>
</div>
