<div class="forum-panel">
  <div class="container">
    <forum-breadcrumb ng-model="section"></forum-breadcrumb>
    <div class="panel-heading">
      <strong>Seções</strong>
    </div>
    <div class="forum-sections list-group widget-threads">
      <div ng-if="(section.child_forum_sections === undefined || section.child_forum_sections.length === 0) && !$loader.get('forum').isLoading" class="alert alert-info text-center">Ainda não há seções aqui.</div>
      <article ng-repeat="childSection in section.child_forum_sections" class="section list-group-item">
        <div class="section-content clearfix">
          <h4 class="list-group-item-heading">
            <a ng-if="!childSection.editable" link-to="school.forums.section({ sectionId: childSection.id })">{{ childSection.title }}</a>
            <span ng-if="childSection.editable" editable-text="childSection.title" required>{{ childSection.title }}</span>
          </h4>
          <p ng-if="!childSection.editable" class="list-group-item-text" clamp="3">{{ childSection.description }}</p>
          <p ng-if="childSection.editable" e-style="width: 100%;" editable-textarea="childSection.description" required>{{ childSection.description }}</p>
        </div>
        <div ng-if="!childSection.editable" class="section-meta">
          <strong>{{ childSection.child_forum_sections_count || 0 }} sub-seções</strong>
          <strong>{{ childSection.forum_questions_count || 0 }} perguntas</strong>
        </div>
        <!-- <hr ng-if="childSection.forum_questions !== undefined && childSection.forum_questions.length > 0"/>
        <div ng-if="childSection.forum_questions !== undefined && childSection.forum_questions.length > 0" class="popular-thread">
          <i>Pergunta mais popular:</i>
          <div class="thread">
            <img class="thread-avatar" src="https://cdn.edools.com/assets/images/users/default.jpeg" alt="Usuário">
            <div class="thread-body">
              <span class="thread-time">2d</span>
              <a href="" class="thread-title">Quem aqui joga WoW?</a>
              <div class="thread-info votes">
                <a href="">42 respostas</a>,
                feita por <a href="">Usuário</a>
                <a class="vote up active">
                  <span>899 <i class="fa fa-thumbs-up"></i></span>
                </a>
                <a class="vote down">
                  <span>2 <i class="fa fa-thumbs-down"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div> -->
      </article>
    </div>

    <div ng-if="!section.isRoot">
      <div class="panel-heading">
        <strong>Perguntas</strong>
        <div class="panel-heading-controls">
          <button link-to="school.forums.question.new({ sectionId: section.id })" type="button" class="btn btn-xs btn-primary">Fazer uma pergunta</button>
        </div>
      </div>
      <div ng-if="(section.forum_questions === undefined || section.forum_questions.length === 0) && !$loader.get('forum').isLoading" class="alert alert-info text-center">Ainda não há perguntas nesta seção.</div>
    </div>
    <div ng-if="section.forum_questions !== undefined && section.forum_questions.length > 0" class="panel-body forum-questions widget-threads">
      <article ng-repeat="question in section.forum_questions" class="thread">
        <img class="thread-avatar" ng-src="{{ question.user.cover_image_url }}" alt="Usuário">
        <div class="thread-body">
          <timeago ng-model="question.created_at" class="thread-time"></timeago>
          <a link-to="school.forums.question.view({ sectionId: section.id, questionId: question.id })" class="thread-title">{{ question.title }}</a>
          <div class="thread-info votes">
            <a link-to="school.forums.question.view({ sectionId: section.id, questionId: question.id })">{{ question.forum_answers_count || 0 }} respostas</a>,
            feita por <a>{{ question.user.first_name }}</a>
            <!-- <a class="vote up">
              <span>{{ question.upvotes }} <i class="fa fa-thumbs-up"></i></span>
            </a>
            <a class="vote down">
              <span>{{ question.downvotes }} <i class="fa fa-thumbs-down"></i></span>
            </a> -->
          </div>
        </div>
      </article>
    </div>
  </div>
  <spinner name="forum"></spinner>
</div>
