<div class="checkout">
  <div class="container">
    <div class="text-center">
      <h2 class="text-success">
        <i class="fa fa-check"></i>
        Seu pedido foi realizado com sucesso!
      </h2>
      <p>Acesse a <a link-to="school.dashboard.enrollments">dashboard do aluno</a> para assistir ao(s) curso(s). Ele(s) serão liberados após a confirmação do pagamento.</p>
    </div>
  </div>
</div>
<facebook-conversion-pixel value="{{ totalPrice | money:'' }}"></facebook-conversion-pixel>
<ga-ecommerce-tracker order="order"></ga-ecommerce-tracker>
