<div class="checkout">
  <div class="container">
    <div class="text-center">
      <h2 class="text-danger">
        <i class="fa fa-times"></i>
        Seu pedido não pode ser realizado.
      </h2>
    </div>
    <div class="note note-warning">
      Infelizmente, sua compra foi cancelada pelo gateway de pagamento. Sugerimos que você tente realizar a compra novamente, utilizando outro meio de pagamento. <a link-to="school.home">Clique aqui</a> para voltar à página inicial da escola.
    </div>
  </div>
</div>
