/*******************************************************************************
*
*  core/typography
*  Contains all typographical elements styles
*
*******************************************************************************/
h2, h3, h4, p, a, button {
  font-family: 'Lato', sans-serif;
}
