/*******************************************************************************
*
*  core/typography
*  Contains all typographical elements styles
*
*******************************************************************************/
body{
	font-family: "Roboto Condensed", sans-serif;
}
h2, h3, h4, p, a, button {
  font-family: 'Roboto', sans-serif;
}

.light-gray-text {
  color: #aaa;
}
