/*******************************************************************************
*
*  core/typography
*  Contains all typographical elements styles
*
*******************************************************************************/
body, p {
	font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, button {
  font-family: 'Montserrat', sans-serif;
}

.light-gray-text {
  color: #aaa;
}
