/*********************************************************************
*
*  utils
*  util classes making life easier :)
*
*********************************************************************/

.pointer {
  cursor: pointer;
}

.loading {
  opacity: 0;
  display: none;
}

/* inline images */

.inline-images {
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.inline {
  & > * {
    display: inline-block;
    vertical-align: middle;
  }
}

.center {
  text-align: center;
}
