<header class="main-header course">
  <div ng-if="course.logo || course.video_cover" class="course-image col-xs-12 text-right col-md-5">
    <img ng-if="!course.video_cover" ng-src="{{ course.logo }}" alt="{{ course.title }}">
    <video-player ng-if="course.video_cover" width="450" height="210" ng-model="course.video_cover.media"></video-player>
  </div>
  <div class="col-xs-12 text-center" ng-class="{'col-md-7': course.logo !== null || course.logo !== '', 'col-md-12': course.logo === null || course.logo === ''}">
    <div class="info">
      <h2 class="title">{{ course.title }}</h2>
      <span class="subtitle">{{ course.subtitle }}</span>
    </div>

    <div class="enroll text-center">
      <div class="col-xs-12" ng-if="course.product.plans.length === 0">
        <button type="button" add-to-cart="course" class="btn btn-success btn-lg">
          <span>Matricule-se agora</span>
          <span class="label label-success">{{ course.product.price | money:'R$' }}</span>
        </button>
      </div>

      <div class="col-xs-12" ng-if="course.product.plans.length !== 0">
        <button ng-click="goToSubscriptionCheckout(course.product.plan, course)"
          type="button" class="btn btn-success" ng-if="course.product.plans.length === 1">
          Matricule-se agora
          <subscription-plan plan="course.product.plan"></subscription-plan>
        </button>

        <div class="btn-group">
          <a class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown" ng-if="course.product.plans.length > 1">
            Matricule-se agora
            <subscription-plan plan="course.product.plan"></subscription-plan>
          </a>
          <ul class="dropdown-menu">
            <li ng-repeat="plan in course.product.plans">
              <a ng-click="goToSubscriptionCheckout(plan, course)">
                <subscription-plan plan="plan"></subscription-plan>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="course-body row">
  <div class="col-xs-12 col-md-8">
    <article ng-if="course.description" class="course-description">
      <section ng-bind-html="course.description"></section>
    </article>
    <article ng-if="course.modules !== undefined && course.modules.length > 0" class="course-content panel">
      <div class="panel-heading">
        <strong class="panel-title">Conteúdo do curso</strong>
      </div>
      <div class="panel-body">
        <content-tree type="home" ng-model="course"></content-tree>
      </div>
    </article>
    <div class="fb-comments" data-href="{{ $location.absUrl() }}" data-width="790" data-numposts="10" data-colorscheme="light"></div>
  </div>
  <div class="topics col-xs-12 col-md-4">
    <section ng-repeat="topic in course.topics" class="topic panel">
      <div class="panel-heading">
        <strong class="title panel-title">{{ topic.title }}</strong>
      </div>
      <div class="panel-body">
        <p class="description" ng-bind-html="topic.description"></p>
      </div>
    </section>

    <section ng-if="course.class_teachers.length > 0" class="topic panel teachers">
      <div class="panel-heading">
        <strong class="title panel-title">Professores</strong>
      </div>
      <div class="panel-body">
        <div ng-repeat="teacher in course.class_teachers">
          <img ng-if="teacher.photo_url" ng-src="{{ teacher.photo_url }}" alt="{{ teacher.full_name }}" class="image col-xs-12 col-md-12">
          <h4 class="teacher-name">{{ teacher.full_name }}</h4>
          <p class="description" ng-bind-html="teacher.about"></p>
        </div>
      </div>
    </section>
  </div>
</div>
