<header class="main-header home">
  <div class="image col-xs-12 col-md-5 text-center">
    <img src="assets/images/capa_escola_bizstart.png" alt="BizStart">
  </div>
  <div class="info col-xs-12 col-md-7">
    <h2 class="title">Aprenda tudo sobre startups com a Bizstart!</h2>
    <h4 class="subtitle">Conteúdos exclusivos sobre metodologias, ferramentas e práticas para desenvolvimento de startups de sucesso.</h4>
  </div>
</header>
<section class="course-list home">
  <div class="container">
    <h2>Cursos</h2>
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="schoolProduct in schoolProducts">
      <div class="course">
        <a link-to="school.course({ courseId: schoolProduct.id })">
          <img ng-if="schoolProduct.logo" class="image" ng-src="{{ schoolProduct.logo }}" alt="{{ schoolProduct.title }}">
          <img ng-if="!schoolProduct.logo" src="assets/images/missing-course-logo.png" alt="Em construção">
          <h4 class="title">{{ schoolProduct.title }}</h4>
          <p class="subtitle">{{ schoolProduct.subtitle }}</p>
        </a>
        <div class="footer">
          <div class="pull-left well">{{ schoolProduct.product.price | money:'R$' }}</div>
          <button type="button" add-to-cart="schoolProduct" class="btn btn-success">Matricule-se</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about">
  <div class="container">
    <h2>Quem somos</h2>
    <div class="well col-xs-12 col-md-9">
      <h4><strong>A Bizstart é uma consultoria de negócios, especializada na formação de empreendedores digitais, idealizada pelos fundadores do StartupBase, Maurilio Alberone e Rafael Carvalho.</strong></h4>
      <h4>Em seu portfólio estão presentes cursos online, workshops presenciais e consultorias, onde participa do dia a dia de empresas que criam produtos e serviços inovadores, principalmente no ambiente digital.</h4>
    </div>
  </div>
</section>
