
<section class="course-list home" ng-if="schoolProducts != null && schoolProducts.length > 0">
  <div class="container">
    <h2>CURSOS</h2>
    <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="schoolProduct in schoolProducts">
      <div class="course">
        <a link-to="school.product({ schoolProductId: schoolProduct.id })">
          <div class="image">
            <img ng-if="schoolProduct.logo" ng-src="{{ schoolProduct.logo }}" alt="{{ schoolProduct.title }}">
            <img ng-if="!schoolProduct.logo" src="assets/images/missing-course-logo.png" alt="Em construção">
          </div>
        </a>
        <div class="body">
          <h4 class="title">
            <a link-to="school.product({ schoolProductId: schoolProduct.id })">{{ schoolProduct.title }}</a>
          </h4>
          <p max-lines="3" class="subtitle">{{ schoolProduct.subtitle }}</p>
        </div>

        <div class="footer">
          <div class="col-xs-12 info" ng-if="schoolProduct.product.plans.length === 0">

            De {{ schoolProduct.product.base_price | money:'R$' }}  por {{ schoolProduct.product.price | money:'R$' }}
            

            <button type="button" add-to-cart="schoolProduct" class="btn btn-success">Comprar</button>
          </div>

          <div class="col-xs-12 info" ng-if="schoolProduct.product.plans.length !== 0">
            <div class="pull-left well">
              <subscription-plan plan="schoolProduct.product.plan" hide-trial="true"></subscription-plan>
            </div>

            <button ng-click="goToSubscriptionCheckout(schoolProduct.product.plan, schoolProduct)"
              type="button" class="btn btn-success" ng-if="schoolProduct.product.plans.length === 1">
              Assinar
            </button>

            <div class="btn-group pull-right" ng-if="schoolProduct.product.plans.length > 1">
              <a class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                Assinar
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="plan in schoolProduct.product.plans">
                  <a ng-click="goToSubscriptionCheckout(plan, schoolProduct)">
                    <subscription-plan plan="plan"></subscription-plan>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
