<header class="school-header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" link-to="school.home">
          <h2>EBG</h2>
        </a>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a link-to="school.checkout.cart">
              <i class="fa fa-shopping-cart"></i>
              <span>Carrinho</span>
            </a>
          </li>
          <li>
            <a link-to="school.forums.list">
              <span>Fóruns</span>
            </a>
          </li>
          <li>
            <a link-to="school.credits">
              <span>Créditos</span>
            </a>
          </li>
          <li ng-if="!$session.get()">
            <a link-to="school.auth.login">Entrar</a>
          </li>
          <li ng-if="$session.get() != undefined">
            <a link-to="school.dashboard.enrollments">Meus cursos</a>
          </li>
          <li ng-if="$session.get() != undefined" class="dropdown">
            <a class="dropdown-toggle pointer" data-toggle="dropdown">
              <span>{{ $session.get().first_name }}</span>
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a link-to="school.dashboard.users.profile">
                  <i class="fa fa-user"></i>
                  <span>Meu Perfil</span>
                </a>
              </li>
              <li>
                <a link-to="school.dashboard.orders">
                  <i class="fa fa-list-ul"></i>
                  <span>Meus Pedidos</span>
                </a>
              </li>
              <li>
                <a link-to="school.messages.inbox">
                  <i class="fa fa-inbox"></i>
                  <span>Mensagens</span>
                </a>
              </li>
              <li>
                <a link-to="school.auth.logout">
                  <i class="fa fa-power-off"></i>
                  <span>Sair</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
  </div>
</header>

<div class="app-content">
  <div ui-view="root" ng-class="{'loading': $loader.get('global').isLoading}"></div>
  <spinner name="global" class="large"></spinner>
</div>

<footer class="school-footer">
  <div class="container">
    <section class="footer-info row">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue lectus, pretium quis lobortis sollicitu
        </p>
        <address>
          Endereço: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue lectus, pretium quis lobortis sollicitu
        </address>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Telefone</h4>
        <p>(99) 9999-9999</p>
        <br>
        <h4>Email</h4>
        <p><a href="mailto:lorem@ipsum.com.br">lorem@ipsum.com.br</a></p>
      </div>
      <div class="col-xs-12 col-sm-3">
        <h4>Site</h4>
        <p><a href="http://www.example.com">www.example.com</a></p>
        <br>
        <h4>Redes Sociais</h4>
        <a href="http://www.facebook.com"><i class="fa fa-facebook fa-lg"></i></a>
        <a href="http://www.twitter.com"><i class="fa fa-twitter fa-lg"></i></a>
      </div>
    </section>
  </div>
</footer>
<footer class="copyright-footer">
  <div class="container">
    <div class="pull-right">
      Plataforma de ensino por
      <a ng-click="fireAnalytics()" href="http://www.edools.com" class="brand scroller" target="blank" title="Edools">
        <img alt="Edools" src="assets/images/logo-edools.png" width="55" />
      </a>
    </div>
  </div>
</footer>
