<header class="school-header" ng-show="$session.get() != null">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menu">
          <span class="sr-only">Abrir navegação</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" link-to="school.home"></a>
      </div>
      <div class="collapse navbar-collapse" id="header-menu">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a link-to="school.checkout.cart">
              <i class="fa fa-shopping-cart"></i>
              <span>Carrinho</span>
            </a>
          </li>
          <li>
            <a link-to="school.auth.logout">
              <i class="fa fa-power-off"></i>
              <span>Sair</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</div>
</header><!-- End header -->

<div class="collapse navbar-collapse" id="header-menu" ng-show="$session.get() != null">
  <ul class="nav navbar-nav navbar-right"  ng-show="$session.get() != null">
    <li>
      <a link-to="school.checkout.cart">
        <i class="fa fa-shopping-cart"></i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a link-to="school.checkout.cart">
        <i class="fa fa-shopping-cart"></i>
        <span>Cursos</span>
      </a>
    </li>

    <li>
      <a link-to="school.checkout.cart">
        <i class="fa fa-shopping-cart"></i>
        <span>Teste</span>
      </a>
    </li>

    <li>
      <a link-to="school.checkout.cart">
        <i class="fa fa-shopping-cart"></i>
        <span>Teste</span>
      </a>
    </li>

    <li>
      <a link-to="school.checkout.cart">
        <i class="fa fa-shopping-cart"></i>
        <span>Teste</span>
      </a>
    </li>

    <li>
      <a link-to="school.auth.logout">
        <i class="fa fa-power-off"></i>
        <span>Teste</span>
      </a>
    </li>
  </ul>
</li>
</ul>
</div><!-- /.navbar-collapse -->

<!-- 
<div class="jumbotron">

<img id="splashImage" src="https://d.sambavideos.sambatech.com/account/101/2/2014-10-27/thumbnail/c0ad699c081c439254ff55ae24f3bb64/ENDEAVOR_2110_H264_853x480.jpg" alt="" style="border: 0px;" width="560" height="315">


</div><!--End jumbotron--> 


<div class="app-content">
  <div ui-view="content" ng-class="{'loading': $loader.get('global').isLoading}"></div>
  <spinner name="global" class="large"></spinner>
</div>

<footer class="school-footer" ng-show="$session.get() != null">
  <div class="container">
    <section class="footer-info row">
  
    </section>
  </div>
</footer>
